                         **Document Ranking using ASCII code**

Input text document wise for alloting weight matrix

In [ ]:
text = ["My name is Shahzaib, student at air university" , "Air University"]
i=0
ascii_values=[]
for text in text:
  text=text.lower()
  ascii_value= [ord(character) for character in text]
  ascii_values.append(ascii_value)
  i=i+1
print(ascii_values)

[[109, 121, 32, 110, 97, 109, 101, 32, 105, 115, 32, 115, 104, 97, 104, 122, 97, 105, 98, 44, 32, 115, 116, 117, 100, 101, 110, 116, 32, 97, 116, 32, 97, 105, 114, 32, 117, 110, 105, 118, 101, 114, 115, 105, 116, 121], [97, 105, 114, 32, 117, 110, 105, 118, 101, 114, 115, 105, 116, 121]]

In [ ]:
import numpy as np
from sklearn.preprocessing import normalize

In [ ]:
text1=text.split(" ")
res = []
summed = []
i=0
for ele in text1:
    ele=''.join(e for e in text1[i] if e.isalnum())
    res.extend(ord(num) for num in ele)
    sums=sum(res)
    res=[]
    summed.append(sums)
    sums=0
    i=i+1
logged_weight=(1+np.log10(summed))
normalized_weight = logged_weight / np.linalg.norm(logged_weight)
print(normalized_weight)

[0.32676428 0.35188189 0.32488779 0.38154539 0.37804513 0.32352278
 0.34017409 0.39366452]

In [ ]:
def freq(str):
    fre=[]
    str_list = str.split()
  
    unique_words = set(str_list)
    print(unique_words)
    for words in unique_words :
        freq=str_list.count(words)
        fre.append(freq)
    print(fre)

In [ ]:
freq(text)

{'my', 'is', 'name', 'air', 'student', 'university', 'at', 'shahzaib,'}
[1, 1, 1, 1, 1, 1, 1, 1]

In [ ]:
#del sum

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer()

corpus = [text]

X = vectorizer.fit_transform(corpus)

print(vectorizer.get_feature_names_out())
print(X.toarray())

['air' 'at' 'is' 'my' 'name' 'shahzaib' 'student' 'university']
[[0.35355339 0.35355339 0.35355339 0.35355339 0.35355339 0.35355339
  0.35355339 0.35355339]]